#first
{
    background-color: pink;
    padding: 30px;
   

}
#secound
{
    background-color:#ee2e84;
    padding: 30px;
}
#third
{
    background-color:#85cfd8;
    padding: 30px;
}
#fourth1
{
    background-color:#8dc63f;
    padding: 30px;
}
#fourth2
{
    background-color: #e76e34;
    padding: 30px;
}
